.nav{
	&__container{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 1rem 0;
		padding-bottom: 0.5rem;
		border-bottom: 0.1rem solid rgba(255, 255, 255, 0.582);
	}


	&__container-item{
		display: inline-block;
		width: 5rem;
		text-align: center;
	}

	&__container-item-link-logo{
		width: 2rem;
	}

	&__container-item-link{
		text-decoration: none;
		font-size: 2rem;
		font-weight: 600;

		&:visited{
			color: white;
		}
	}

	&__container-item-link-logo-centering{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}