.notesPage{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 90vh;
	overflow-x: hidden;
}

.habits-container{


	&__header-text{
		color: white;
		text-align: center;
		margin-bottom: 0.3rem;
		font-size: 2.5rem;
	}

	&__content-container{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		&__item{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 0.7rem;
			width: 10rem;
		}

		&__item-button-cross{
			margin-right: 2.5rem;
			width: 1.5rem;
			cursor: pointer;
			transition: transform 1s linear;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__item-button-cross-dissolve{
			// transform-origin: center;
			// transform: rotate(360deg);
			opacity: 0;
			animation: fadeOut 0.3s linear;
		}

		&__item-button-cross-reappear{
			// transform-origin: center;
			// transform: rotate(360deg);
			opacity: 1;
			animation: fadeIn 0.3s linear;			
		}

		&__item-lable{
			color: white;
			display: inline-block;
			margin: 0;
			width: 3rem;
			font-size: 1.3rem;
		}
	}
}

.notes-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 50vh;

	&__header-text{
		color: white;
		text-align: center;
		margin: 0;
		margin-bottom: 0.3rem;
		margin-top: 1rem;
		font-size: 2.5rem;
	}

	&__textArea{
		width: 75%;
		height: 70%;
		resize: none;
		border-radius: 1rem;
		background-color: #212121;
		color: white;
		padding: 1rem;
		font-size: 1.2rem;
	}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}