.socials{
	background-color: black;
	border-top: 0.01rem solid #717171;
	padding-top: 3rem;


	@media (min-height: 700px){
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-top: 0;
	}

	&__main-container{

		&__about-me{
			padding-top: 3rem;
			padding-bottom: 1rem;
		}

		&__education{
			padding-top: 1rem;
		}

		&__about-me-header, &__education-header{
			color: white;
			font-size: 1.7rem;
			margin: 0;
			margin-bottom: 1rem;
			text-align: center;
		}

		&__about-me-text, &__education-text{
			color: white;
			text-align: center;
			margin-bottom: 1rem;
			padding: 0 1rem;
		}

		&__about-me-text{
			padding: 0 3rem;
			line-height: 1.5rem;
			font-size: 1rem;
		}

		&__education-text-container{
			margin-bottom: 1.7rem;
		}

		&__education-text{
			margin-bottom: 0.3rem;
			font-size: 1rem ;
		}

		&__education-text-dates{
			font-size: 1.2rem;
			letter-spacing: 0.2rem;
			font-weight: 600;
		}
	}

	&__links-container{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 1rem 0;;
	}
}

@media (min-width: 1400px){
	.socials__main-container__about-me-header, .socials__main-container__education-header{
		font-size: 3rem;
	}

	.socials__main-container__about-me-text{
		width: 20%;
	}

	.socials__links-container{
		height: 10rem;
	}

	.socials__main-container__education-text{
		font-size: 1.8rem;
	}

	.socials__main-container__education-text-dates{
		font-size: 2.2rem;
	}

}

@media (min-height: 800px) and (orientation: landscape){
	.socials__main-container__about-me-text{
		font-size: 1.6rem;
		line-height: 2.3rem;
		width: 30%;
		margin: 0 auto;
	}

	.socials{
		height: 100vh;
		padding-top: 2rem;
		padding-bottom: 0.5rem;
	}
}

@media (min-width: 768px) and (orientation: portrait) {
	.socials{
		height: 100vh;
	}
	.socials__main-container__about-me-header{
		padding-top: 2rem;
	}
	.socials__main-container__about-me-header{
		font-size: 3rem;
		padding-bottom: 1.5rem;
	}
	.socials__main-container__about-me-text{
		font-size: 1.8rem;
		line-height: 2.2rem;
		padding-bottom: 2rem;
	}
	.socials__main-container__education-header{
		font-size: 3rem;
	}
	.socials__main-container__education-text-dates{
		font-size: 1.5rem;
	}
	.socials__links-container{
		margin-top: 3rem;
	}
}